@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.achievementsContainer {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 0.1rem 2rem;
    position: relative;
    overflow-y: overlay;
    .achievementsContent{

      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  h1 {
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
  }
  h2 {
    font-weight: 500;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  p {
    color: #888888;
  }
}
