.timeLine{
    display: flex;
    gap: 2rem;
    height: 64px;
    h3{
        margin: 0;
    }
    p{
        margin: 0;
    }
    .leftPart{
        flex-basis: 27%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 1rem;
    }
    .rightPart{
        flex-basis: 64%;
    }
}